---
---

@import "{{ site.theme }}";

// Custom styles for the "Get Ready" heading
h3 {
  text-align: center; // This centers the text
  font-size: 32px; // Adjust the font size as needed to make it bigger
  margin-top: 50px; // Adds space above the heading, adjust as needed
}

hr {
  height: 2px;
  background-color: #B19CD9 !important; /* Color of the line */
}


