---
---

@import "{{ site.theme }}";

// Custom styles for the "Get Ready" heading
h3 {
  text-align: center; // This centers the text
  font-size: 32px; // Adjust the font size as needed to make it bigger
  margin-top: 50px; // Adds space above the heading, adjust as needed
}

hr {
  height: 1px;
  background-color: #B19CD9; /* Color of the line */
  border: none;
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Zero out the top and bottom margins, and auto on the sides */
}


