---
---

@import "{{ site.theme }}";

// Custom styles for the "Get Ready" heading
h3 {
  text-align: center; // This centers the text
  font-size: 40px; // Adjust the font size as needed to make it bigger
  margin-top: 50px; // Adds space above the heading, adjust as needed
}

// custom lines for get ready part
#get-ready + hr {
  height: 2px;
  background-color: #B19CD9; /* Color of the line */
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the line */
}

.page-header {
  background-image: url('assets/img/background-photo.jpeg') !important; /* Replace with your image's path */
  background-size: cover !important; /* Ensures the background covers the header area */
  background-position: center center !important; /* Centers the image */
  background-repeat: no-repeat !important; /* Prevents the image from repeating */
}



